.footer-wrapper {
  width: 100%;
  background-color: #093970;
  padding: 60px 0 0;
}

.footer-container {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 24px;
}


.footer-logo img {
  max-width: 230px;
  margin-bottom: 16px;
}

.footer-logo p {
  color: #000000;
  max-width: 280px;
}

.footer-section h6 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-section p,
.footer-section a {
  color: #000000;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a:hover {
  color: #2563eb;
}

.footer-social a {
  font-size: 18px;
  margin-right: 12px;
  color: #000000;
}

.footer-social a:hover {
  color: #2563eb;
}
.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #000000;
  color: #000000;
  font-size: 13px;
}
@media (max-width: 768px) {
  .footer-wrapper {
    text-align: center;
  }

  .footer-logo,
  .footer-section {
    margin-bottom: 30px;
  }
}